<launch>
  <include file="$(find astro_diff_drive)/launch/drivers.launch" />
  <!--   <include file="$(find teleop_twist_joy)/launch/teleop.launch" /> -->
  <!-- Encoder ticks per meter -->
  <rosparam param="ticks_meter">1991</rosparam>

  <!-- Base width including wheel thickness and spacing -->
  <!-- 0.470m + 2*(1" + 1cm) -->
  <rosparam param="base_width">0.5408</rosparam>

  <node pkg="astro_diff_drive" type="diff_drive" name="diff_drive" output="screen">
	  <rosparam param="base_width">0.5408</rosparam>
  </node>
  <node pkg="differential_drive" type="diff_tf.py" name="diff_odom_tf" output="screen">
    <rosparam param="base_width">0.5408</rosparam>
  </node>
</launch>
